

.search-bar-main-content .main .navbar  img.img-fluid.img1 {
   width: 35%;
}
.search-bar-main-content .main ul.dropdown-menu.dropdown-menu-dark.show {
   background-color: white;
  margin-left: -137%;
}
.search-bar-main-content .main button.btn.btn-primary {
   height: 39px;
   background-color:transparent;
   color: black;
   border: none !important;
}
.search-bar-main-content .main nav.navbar {
   // height: 65px;
   border: 1px solid #e1e1e1;
   padding: 0px;
  }
  .vertical1 {
   border-right: 1px solid #dbd5d5;
   object-fit: contain;
   height: 54px;
}
.offcanvas-header .p{
   text-align: center;
}
.offcanvas .dummy-tshirt img.dummy {
   width: 100%;
   height: 53%;
}
.offcanvas .dummy-tshirt img.dummy-d {
   width: 100%;
   height: 59%;
}
.offcanvas .dummy-tshirt p {
   font-weight: 200;
   text-align: center;
   font-size: 15px;
}
.ButtonGroup button.ButtonGroup__Item.ButtonGroup__Item--expand.Button.Button--primary {
   border: 1px solid black;
   width: 100%;
   height: 45px;
   background-color: white;
}

.ButtonGroup button.ButtonGroup__Item.ButtonGroup__Item--expand.Button.Button--primary {
   font-size: 7px;
   color: white;
   border: 1px solid black;
   width: 100%;
   height: 45px;
   background-color: #5b5d52;
}
.ButtonGroup p{
   font-size: 15px;
}
.ButtonGroup {
   margin-top: 7%;
}
.ButtonGroup .ButtonGroup__Item--expand Button Button--primary:hover {
   background-color:#ffff;
   color: white;
 }
 .offcanvas .offcanvas-header .offcanvas-title  p.f {
   font-weight: 200;
   margin-left: 247%;
}

 p.product{
   font-weight: 200;
}
p.color {
   font-weight: 200;
}
 .outer .button {
   border: 1px solid black;
   border-radius: 3px;
   width: 100%;
   height: 40px;
   display: block;
   
   background: linear-gradient(to right, white 50%, #5b5d52 50%);
   background-size: 200% 100%;
   background-position: right bottom;
   transition: all .5s ease-out;
 }
 
 .outer .button:hover {
   background-position: left bottom;
 }
 
//  .outer .text {
//    text-align: center;
//    font-size: 16px;
//    line-height: 30px; 
//    color: white;
//    transition: all .6s ease-out;
//    display: block;
//  }
 
 .outer .text:hover {
   color: black;  
 }
 .dropdown-item {
  
  color: black !important;
  font-weight: 200 !important;
   border-bottom:none !important;
   // margin-bottom: 10px;
   letter-spacing: 3px;
   font-size: 13px;
   transition: 0.8s ease-in-out;
}
.search-bar-main-content .main .navbar img.img-fluid.img1 {
   width: 46%;
}
svg.svg-inline--fa.fa-border-all {
   width: 100%;
}



.offcanvas .offcanvas-body span.red {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #DB2828;
}
.offcanvas .offcanvas-body label span.green {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #21BA45;
}
.offcanvas .offcanvas-body label span.yellow {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #FBBD08;
}
.offcanvas .offcanvas-body  label span.olive {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #B5CC18;
}
.offcanvas .offcanvas-body label span.orange {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #F2711C;
}
.offcanvas .offcanvas-body label span.teal {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #00B5AD;
}
.offcanvas .offcanvas-body label span.blue {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #2185D0;
}
.offcanvas .offcanvas-body label span.violet {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #6435C9;
}
.offcanvas .offcanvas-body label span.purple {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #A333C8;
}
.offcanvas .offcanvas-body label span.pink {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background: #E03997;
}
.offcanvas .offcanvas-body .color-circle {
   padding-right: 31%;
}
  .nav p {
   font-weight: 400;
   font-size: 13px;
   margin-bottom: 0px;
}
 p.filter {
   color: #594343;
   font-weight: 400;
   font-size: 15px;
}
a.navbar-brand {
   height: 53px;
   // border-right: 1px solid #d5cece;
}
* {
  box-sizing: border-box;
}

ul.nav.justify-content-end {
   // padding-left: 20px;
   // border-left: 1px solid #c5c0c0;
   // padding-right: 14px;
   // border-right: 1px solid #c7c7c7;
   height: 56px;
}
 .offcanvas #flexRadioDefault5 {
   background-color: black;
}
 .offcanvas input#flexRadioDefault6 {
   background-color: pink;
}
.offcanvas  input#flexRadioDefault7 {
   background-color: brown;
}
.offcanvas input#flexRadioDefault8 {
   background-color: yellow;
}
.form-check-input:checked[type=radio] {
   background-image: none;
}
.search-bar-main-content .title-div .title-women{
   text-align: center;
   padding: 40px;
   margin-bottom: 0px;
   font-size: 22px;
   letter-spacing: .2em;
   text-transform: uppercase;
}

